<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title></title>

	<!-- legomobi reset样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- legomobi reset样式结束 -->
	
</head>
<body>
	<nav class="m-bottombar">
		<a class="i-user" href="javascript:void(0)" data-touch="on" data-icon="&#xe000;">好友</a>
		<a class="i-vcard" href="javascript:void(0)" data-touch="on" data-icon="&#xe004;">通讯录</a>
		<a class="i-users" href="javascript:void(0)" data-touch="on" data-icon="&#xe006;">群组</a>
		<a class="i-cog" href="javascript:void(0)" data-touch="on" data-icon="&#xe007;">设置</a>
	</nav>
</body>
</html>