<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title></title>

	<!-- 页面样式入口样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- 页面样式入口样式结束 -->
	
</head>
<body>
	<div class="m-article">
		<header class="m-article__channel">
			<h2>超级玛丽亚</h2>
		</header>

		<div class="m-article__main">
			<header class="m-article__header">
				<!-- 文章头部信息{ -->
				<h3 class="title">单手撸遍天下 情人节单身屌丝的最后一个应用</h3>
				<div class="m-article__meta">
					<span>2013-02-14</span>
					<span>新游爱情频道</span>
					<span>我是光棍</span>
				</div>
				<!-- }文章头部信息 -->
			</header>

			<!-- 文章主要内容{ -->
			<img src="http://art.yypm.com/250x110" alt="">
			<p>...海蛇补给基地(火炮兰副本)极具难度，需要考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富的活动，帮助大家和小伙伴们顺利推倒火炮兰。...</p>
			<div class="u-videoimg">
				<a href=""><img src="http://art.yypm.com/250x110" alt=""></a>
			</div>
			<p>...海蛇补给基地(火炮兰副本)极具难度，需要考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富的活动，帮助大家和小伙伴们顺利推倒火炮兰。...</p>
			<p>...海蛇补给基地(火炮兰副本)极具难度，需要考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富富的活动，帮助大家和小伙伴们顺利推倒火炮兰。...</p>
			<p>...海蛇补给基地(火炮兰副本)极具难度，需要考验团队合作、攻防谋略、战斗技巧。为此我们特别为大家准备了精彩丰富的活动，帮助大家和小伙伴们顺利推倒火炮兰。...</p>
			<!-- }文章主要内容 -->

		</div>
		<footer class="m-article__footer">
			<a href="" class="m-article__comment">查看评论</a>
			<p class="m-article__copyright"> © 2014 多玩游戏 版权所有</p>
		</footer>
	</div>
</body>
</html>