<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title></title>

	<!-- 页面样式入口样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- 页面样式入口样式结束 -->

	<!-- SeaJs库开始 -->
	<script src="../../../dist/js/sea.js"></script>
    <script src="../../../dist/js/config.js"></script>
	<!-- SeaJs库开始 -->

</head>
<body class="body-background-color1">
	<header class="m-topbar">
		<h1>用户登录</h1>
		<div class="m-topbar__leftbar">
			<!-- 添加左边动作条按钮 -->
			<a href="javascript:void(0)" class="u-return" data-touch="on"> </a>
		</div>
		<div class="m-topbar__rightbar">
			<!-- 添加右边动作条按钮 -->
		</div>
	</header>
	<script>
		seajs.use(['MO','zepto'], function(mo, zepto){
		});
	</script>
</body>
</html>