<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title></title>

	<!-- legomobi reset样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- legomobi reset样式结束 -->

</head>
<body>
	<!-- 表单样式一 -->
	<form class="wrap-box" action="">
		<div class="mod-inputgroup">
			<input type="text" placeholder="名称" name="" id="">
			<input type="email" placeholder="邮箱" name="" id="">
			<input type="password" placeholder="请输入密码" name="" id="">
		</div>

		<div class="blank20"></div>
		<input type="text" class="mod-input" placeholder="请输入密码" name="" id="">
	</form>
	<div class="blank20"></div>
	<form action="" class="wrap-box">
		<div class="mod-inputgroup">
			<div class="input-row"><label for="">名称</label><input type="text" placeholder="名称" name="" id=""></div>
			<div class="input-row"><label for="">邮箱</label><input type="text" placeholder="邮箱" name="" id=""></div>
			<div class="input-row"><label for="">密码</label><input type="password" placeholder="请输入密码" name="" id=""></div>
		</div>
	</form>
</body>
</html>