.mod-scrollTop{
    width:44px;
    height:44px;
    background:url('/assets/img/top_ico.png');
    background-size:contain;
    position:fixed;
    bottom:60px;
    right:10px;
    z-index:999;
}