<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title></title>

	<!-- legomobi reset样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- legomobi reset样式结束 -->

	<!-- SeaJs库开始 -->
	<script src="../../../dist/js/sea.js"></script>
    <script src="../../../dist/js/config.js"></script>
	<!-- SeaJs库开始 -->
</head>
<body>

	<div id="tab1" class="m-tab">
		<div class="m-tab__cont">
			<div class="m-tab__cont__item">
				<ul class="m-newslist">
					<li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
						<img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
						<div class="m-newslist__item__cont">
							<h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
							<p>堕落是内生的</p>
							<p>堕落是内生的</p>
							<p>堕落是内生的</p>
						</div>
					</a></li>
					<li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
						<img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
						<div class="m-newslist__item__cont">
							<h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
							<p>堕落是内生的</p>
						</div>
					</a></li>
					<li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
						<img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
						<div class="m-newslist__item__cont">
							<h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
							<p>堕落是内生的</p>
						</div>
					</a></li>
				</ul>
			</div>
			<div class="m-tab__cont__item">
				<img src="http://art.yypm.com/200x200x2" alt="">
			</div>
			<div class="m-tab__cont__item">
				<ul class="m-newslist">
					<li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
						<img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
						<div class="m-newslist__item__cont">
							<h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
							<p>堕落是内生的</p>
							<p>堕落是内生的</p>
							<p>堕落是内生的</p>
						</div>
					</a></li>
					<li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
						<img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
						<div class="m-newslist__item__cont">
							<h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
							<p>堕落是内生的</p>
						</div>
					</a></li>
				</ul>
			</div>
		</div>
		<nav class="m-tab__nav">
			<a class="current" href="javascript:void(0)">选项一</a>
			<a href="javascript:void(0)">选项二</a>
			<a href="javascript:void(0)">选项三</a>
		</nav>
	</div>
</body>
<script>
	seajs.use(['tab','MO','zepto'], function(tab, mo, zepto){
		tab("#tab1");
	});
</script>
</html>