<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title></title>

	<!-- legomobi reset样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- legomobi reset样式结束 -->

	<!-- SeaJs库开始 -->
	<script src="../../../dist/js/sea.js"></script>
    <script src="../../../dist/js/config.js"></script>
	<!-- SeaJs库开始 -->

	<style>
		
		#wrapper{
			position: absolute;
			top: 44px;
			left: 0px;
			bottom: 44px;
			right: 0px;
		}
		body{
			overflow: hidden;
		}
	</style>

</head>
<body>
	<header id="header" class="m-topbar">
		<h1 class="title">用户登录</h1>
		<div class="actionbar-l">
			<!-- 添加左边动作条按钮 -->
			<a href="javascript:void(0)" class="bt-return" data-touch="on"> </a>
		</div>
		<div class="actionbar-r">
			<!-- 添加右边动作条按钮 -->
		</div>
	</header>
	<div id="wrapper" class="wrapper">
		<div id="scroller">
			<ul class="m-newslist">
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                        <p>堕落是内生的</p>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
                <li class="m-newslist__item"><a href="javascript:void(0)" data-touch="on">
                    <img src="http://art.yypm.com/80x60/EAEAEA/333" alt="">
                    <div class="m-newslist__item__cont">
                        <h3>曾经辉煌如今经典 盘点陪伴80后成长的游戏</h3>
                        <p>堕落是内生的</p>
                    </div>
                </a></li>
            </ul>
		</div>
	</div>
	<footer id="footer">
		<nav class="m-bottombar">
            <a class="i-user" href="javascript:void(0)" data-touch="on" data-icon="&#xe000;">好友</a>
            <a class="i-vcard" href="javascript:void(0)" data-touch="on" data-icon="&#xe004;">通讯录</a>
            <a class="i-users" href="javascript:void(0)" data-touch="on" data-icon="&#xe006;">群组</a>
            <a class="i-cog" href="javascript:void(0)" data-touch="on" data-icon="&#xe007;">设置</a>
        </nav>
	</footer>


</body>
<script>
	seajs.use(['scroll','MO','zepto'], function(scroll, mo, zepto){
		scroll("#wrapper");
	});
</script>
</html>
