<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<title>Lazyload</title>

	<!-- legomobi reset样式开始 -->
	<link rel="stylesheet" type="text/css" href="../../../dist/css/style.css">
	<!-- legomobi reset样式结束 -->

	<!-- SeaJs库开始 -->
	<script src="../../../dist/js/sea.js"></script>
    <script src="../../../dist/js/config.js"></script>
	<!-- SeaJs库开始 -->

</head>
<body>
	<ul class="m-piclist">
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	    <li class="m-piclist__item">
	        <a href="#" title=""><img alt="" src="http://art.yypm.com/140x100" data-osrc="http://placekitten.com/g/140/100" class="m-lazyload"><em>大话西游</em></a>
	    </li>
	</ul>
</body>
<script>
	seajs.use(['MO','zepto','lazyload'], function(mo, zepto, lazyload){
		$(".m-lazyload").lazyload();
	});
</script>
</html>